<!-- header -->
<header class="header">
    <div class="row p-0 w-100">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent p-0">
                <div class="container-fluid">
                    <a href="/agency"><img style="width: 130px; " src="/images/logoText.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="/agency">DASHBOARD</a>
                            </li>
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="/agency/tours">TOURS</a>
                            </li>
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="/agency/trekkings">TREKKING</a>
                            </li>
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="#">BLOG</a>
                            </li>
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="#">SHOP</a>
                            </li>
                            <li class="nav-item pe-3">
                                <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                    href="/agency/users">USER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>