<!-- footer -->
<footer class="footer border-top border-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 130px;" src="./images/logoText.png" alt="">
                <p>Hodophile was founded in 2022 by a Common man who was The wed devoloper and experience in
                    business .</p>
                <div class="d-flex mt-4">
                    <i class="footerIcons1 fa-brands fa-square-facebook"></i>
                    <i class="footerIcons2 fa-brands fa-square-twitter"></i>
                    <i class="footerIcons3 fa-brands fa-square-instagram"></i>
                    <i class="footerIcons4 fa-brands fa-square-youtube"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 mt-4">
                <h4 class="footerHead">EXPLORE HODOPHILE</h4>
                <ul class="p-0">
                    <a style="color: black;" href=""><li class="footerText">BLOG</li></a>
                    <a style="color: black;" href="/tours"><li class="footerText">DESTINATIONS</li></a>
                    <a style="color: black;" href=""><li class="footerText">TREKKING</li></a>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2 mt-4">
                <h4 class="footerHead">QUICK LINKS</h4>
                <ul class="p-0">
                    <a style="color: black;" href=""><li class="footerText">ABOUT US</li></a>
                    <a style="color: black;" href=""><li class="footerText">GALLERY</li></a>
                    <a style="color: black;" href=""><li class="footerText">FAQs</li></a>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2 mt-4">
                <h4 class="footerHead">ADDRESS</h4>
                <ul class="p-0">
                    <li class="footerText2">INDIA, CALICUT.<br>
                        PH : +91 8139036131 </li>
                    <li class="footerText2 mt-4">DUBAI, ABU DHABI. <br>
                        PH : +971 55 507 9094</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- copy right -->
<footer class="copyRight">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="copyRightText">Copyright © 2022 Hodophile. All Rights Reserved. Designed by ThemeIM
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- fontawesome -->
<script src="https://kit.fontawesome.com/43b09e7d2c.js" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script>
    const loader = document.getElementById('preloader')
    window.addEventListener('load', () => {
        loader.style.display = 'none'
    })
</script>