<!-- header -->
<header class="header">
    <div class="SectionContainer">
        <div class="row p-0 w-100">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent p-0">
                    <div class="container-fluid">
                        <a href="/"><img style="width: 130px; " src="/images/logoText.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="/">HOME</a>
                                </li>
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="#">SHOP</a>
                                </li>
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="/tours">DESTINATIONS</a>
                                </li>
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="/trekkings">TREKKING</a>
                                </li>
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="/news">NEWS</a>
                                </li>
                                <li class="nav-item pe-3">
                                    <a class="headerText fs-6 fw-bolder nav-link active " aria-current="page"
                                        href="#">CONTACT</a>
                                </li>
                                <li class="fs-6 fw-bolder nav-item dropdown pe-3">
                                    <a class="headerText nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        ABOUT US
                                    </a>
                                    <ul class="dropdown-menu bg-transparent " aria-labelledby="navbarDropdown">
                                        <li><a class="headerText dropdown-item" href="#">FAQs</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="d-flex">
                                <a class="headerlove me-4" href="#"><i class="fa-solid fa-heart headerlove"></i><span
                                        class="headerCount"> 2 </span></a>
                                <a class="headerCart" href="#"><i class="fa-solid fa-cart-shopping"></i></i><span
                                        class="headerCount">2</span></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>