.body {
    margin: 0;
    padding: 0;
}

/* section Container */
.SectionContainer{
    max-width: 1349px;
    margin: auto;
}


/* map */
.mapboxgl-popup {
    width: 180px;
}

.mapboxgl-popup-content {
    text-align: center;
    color: #41C356;
}

.marker {
    background-image: url('./../images/location.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* frontend validation error */
.errBar {
    visibility: hidden;
}

/* a tag */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* preloader */
#preloader {
    background: black url(../images/gif-logo.gif) no-repeat center;
    background-size: 8%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*////////////////////*/
/* HOME PAGE */
/*////////////////////*/

/* infoBar */
.infoBar {
    background: #41c356;
    width: 100%;
    height: 60px;
}

.infoText-1 {
    text-decoration: none;
    color: white;
}

.infoText-1:hover {
    color: black;
    font-weight: 500;
}

.infoText-2 {
    color: white;
    padding-top: 4px;
}

@media (max-width: 1000px) {
    .infoLeft {
        display: none;
    }
}

/* header */
.header {
    background-color: #ecf9ee;
    width: 100%;
}

.headerText:hover {
    cursor: pointer;
    color: #41c356;
}

.headerlove {
    position: relative;
    font-size: 25px;
    color: red;
}

.headerCount {
    position: absolute;
    top: 4;
    font-size: 14px;
    color: black;
    right: -3px;
    font-weight: 700;
    background-color: white;
    border-radius: 20px;
}

.headerCart {
    position: relative;
    font-size: 25px;
    color: #41c356;
}

/* section-1 */
.section-1 {
    width: 100%;
    background-color: #ecf9ee;
}

.leftBar {
    padding-top: 150px;
    z-index: 2;
}

@media (max-width: 780px) {
    .leftBar {
        padding: 0;
    }
}

.sec1LeftText1 {
    font-family: 'Arizonia', cursive;
    font-size: 30px;
}

.sec1LeftText2 {
    font-size: 46px;
}

.sec1LeftText3 {
    font-size: 18px;
}

.rightBar {
    z-index: 1;
}

.button {
    width: 120px;
    line-height: 40px;
    background: #41c356;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.button:hover {
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    background: transparent;
    color: #41c356;
    border-radius: 4px;
}

/* section-2 */

.section-2 {
    width: 100%;
    background-color: #ecf9ee;
}

/* section-3 */

.section-3 {
    background-color: #ecf9ee;
    padding: 20px 0;
    width: 100%;
}

.sec3Cards {
    padding: 75px 0px;
    width: 350px;
}

.sec3Card {
    position: relative;
}

.sec3Text1 {
    font-size: 13px;
    font-weight: 500;
    background: #0d6efd;
    position: absolute;
    top: 27px;
    color: white;
    border: 0;
    padding: 6px;
}

.sec3Text2 {
    font-size: 13px;
    color: #00000082;
    font-weight: 500;
    /* margin-top: 6px; */
}

.sec3Text3 {
    font-size: 22px;
    margin-top: 20px;
}

.sec3Text4 {
    font-size: 14px;
    color: #00000080;
    margin-top: 20px;
}

.sec3Text5 {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}

.sec3Text5:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #41c356;
}

/* section-4 */

.section-4 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}

.sec4Text1 {
    font-family: 'Arizonia', cursive;
    font-size: 30px;
}

/* .section-4 */

.section-5 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}


.sec5Button {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}

.sec5Button:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: white;
    color: #41c356;
}

/* section-6 */

.section-6 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}

.sec6Love {
    font-size: 25px;
    color: #ff00007a;
    position: absolute;
    top: 18px;
    right: 20px;
}

.sec6Love:hover {
    color: red;
}

.sec6Text1 {
    font-size: 20px;
}

.sec6Text1:hover {
    color: #41c356;
}

.sec6Text2 {
    color: #1dc5ce;
    font-size: 18px;
    font-weight: 500;
}

.sec6Text2:hover {
    color: #41c356;
    font-weight: 700;
}

.sec6Card {
    position: relative;
}

.sec6Button {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}

.sec6Button:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #41c356;
}

.sec6More {
    text-decoration: none;
    font-size: 24px;
    background: #0d6efd;
    padding: 6px 27px;
    color: white;
    border-radius: 16px;
    border: none;
    margin-top: 80px;
}

.sec6More:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #0d6efd;
}

/* footer */

.footer {
    width: 100%;
    background-color: #ecf9ee;
    padding: 50px 0px;
}

.footerIcons1 {
    font-size: 35px;
    padding-right: 20px;
    color: #0d6efd;
}

.footerIcons2 {
    font-size: 35px;
    padding-right: 20px;
    color: #2dc9ed;
}

.footerIcons3 {
    font-size: 35px;
    padding-right: 20px;
    color: #e95950;
}

.footerIcons4 {
    font-size: 35px;
    padding-right: 20px;
    color: red;
}

.footerHead {
    font-size: 15px;
    border-bottom: solid;
    padding-bottom: 25px;
    border-bottom-color: #41c356;
}

.footerText {
    font-size: 15px;
    font-weight: 100;
    list-style-type: none;
    margin-top: 15px;
}

.footerText:hover {
    cursor: pointer;
    color: #41c356;
    font-weight: 500;
}

.footerText2 {
    font-size: 16px;
    font-weight: 100;
    list-style-type: none;
    margin-top: 15px;
}

/* copyright */

.copyRight {
    width: 100%;
    background-color: #41c356;
}

.copyRightText {
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 50px;
    margin: 0;
}

/*////////////////////*/
/* SIGN UP PAGE  & login page*/
/*////////////////////*/

.signupSec1 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
}

.signupSec1Text {
    font-family: 'Arizonia', cursive;
    font-size: 55px;
    color: #41c356;
}

.signupSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-9.jpg);
    background-size: 100% auto;
}

.loginSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-4.jpg);
    background-size: 100% auto;
}

.adloginSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-6.jpg);
    background-size: 100% 640px;
}

.signupSec2Form {
    background: #ecf9ee;
    padding: 26px;
    border-radius: 25px;
}

.signupSec2FormButton {
    border: solid;
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 7px 25px;
    color: white;
    border-radius: 30px;
    border-width: 2px;
    border-color: #41c356;
}

.signupSec2FormButton:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 2px;
    border-color: #00000075;
    color: #41c356;
}

.signupSec2Head {
    font-family: 'Arizonia', cursive;
    font-size: 38px;
    color: #000000;
    margin: 0;
    padding-top: 10px;
}

.signupSec2FormBar {
    width: 50%;
}

.signupSec2Error {
    width: 100%;
    height: 42px;
    margin: 4px 0;
}

.signupSec2ErrorBar {
    background-color: #41c35654;
    width: 100%;
    height: 42px;
    margin: 4px 0;
}

.signupSec2ErrorText {
    padding: 8px;
    font-weight: 400;
    color: #41C356;
}

.signupSec2ErrorMark {
    padding-top: 12px;
    color: #41C356;
}

/*////////////////////*/
/* User Profile page*/
/*////////////////////*/

.profileSec2 {
    width: 100%;
    background-color: #41c3569c;
    padding: 12px 0px;
}

.profileSec2Bar {
    background-color: #ecf9ee;
    border-radius: 40px;
}

.profileSec2LeftLogo {
    font-size: 60px;
}

.profileSec2BarTextHead {
    font-family: 'Arizonia', cursive;
    font-size: 42px;
    font-weight: bold;
    color: #000000a3;
}

.profileSec2BarText {
    font-size: 20px;
    font-weight: 300;
}

/*////////////////////*/
/* tours page*/
/*////////////////////*/

.toursSec2Head {
    font-family: 'Arizonia', cursive;
}

.toursSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.toursSec3 {
    width: 100%;
    background: url(../images/Backgrond/image-6.jpg);
    background-size: 100% 100%;
    padding: 100px 0px;
}

.toursSec3Text1 {
    font-family: 'Arizonia', cursive;
    color: white;
}

.toursSec3Text2 {
    color: white;
    font-size: 50px;
}

.toursSec4 {
    padding: 60px;
    background-color: #c3ddc7;
    width: 100%;
}

.toursSec4Map {
    width: 100%;
    height: 350px;
    background: #000000;
}

.toursDetailsSec2Image {
    position: relative;
    filter: brightness(0.5);
}

.toursDetailsSec2Text {
    position: absolute;
    top: 6px;
    left: 40px;
}

@media (min-width : 992px) {
    .toursDetailsSec2Image {
        height: 500px;
    }
}

.toursDetailsSec2Text1 {
    font-size: 27px;
    color: white;
}

.toursDetailsSec2Text2 {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.toursDetailsSec3 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.toursDetailsSec3ReviewText {
    font-size: 18px;
    font-weight: 500;
    color: #00000094;
}

.toursDetailsSec3Review {
    border: solid;
    border-left: none;
    border-right: none;
    border-color: #747474;
    border-width: 1px;
}

.toursDetailsSec3Head {
    font-family: 'Arizonia', cursive;
    font-size: 38px;
    font-weight: 600;
    color: #746f6f;
}

.toursDetailsSec3Text {
    font-size: 20px;
}

.toursDetailsSec3Icon {
    font-size: 22px;
    padding-right: 8px;
    color: #41c356;
}

.toursDetailsSec3Paragraph {
    border-left: solid;
    padding-left: 30px;
    border-width: 2px;
    color: #6c6b6b;
}

.toursDetailsSec4Head {
    font-family: 'Arizonia', cursive;
    font-size: 50px;
}

.toursDetailsSec5 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 40px 0px;
}

.toursDetailsSec5Head {
    font-family: 'Arizonia', cursive;
    font-size: 45px;
}

.toursDetailsSec3Price {
    font-size: 22px;
    font-weight: 500;
    color: black;
    margin: auto 0;
}

.toursDetailsSec3BookButton {
    color: white;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}

.toursDetailsSec3BookBar {
    border: solid;
    border-width: 1px;
    border-color: #41C356;
    color: #41c356;
    background-color: #41C356;
    margin: 15px;
    padding: 12px;
    border-radius: 25px;
}

.toursDetailsSec3BookBar:hover {
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: black;
    color: #000000;
}

.toursDetailsSec3BookIcon {
    color: white;
    margin: auto;
    font-size: 32px;
}

/*////////////////////*/
/* Admin tours page */
/*////////////////////*/

.agToursSec1 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.agToursSec1LeftButton {
    border: solid;
    border-radius: 30px;
    border-width: 1px;
    background: #41c356;
    border-color: #ecf9ee;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}

.agToursSec1LeftButton:hover {
    background: transparent;
    cursor: pointer;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: #000000;
}

.agToursSec1LeftButtonIcon {
    margin: 20px 15px;
    color: white;
    font-size: 20px;
}

@media (max-width : 995px) {
    .agToursSec1LeftButtonText {
        display: none;
    }
}

.agToursSec1RightBar {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.agToursSec1RightHead {
    font-family: 'Arizonia', cursive;
}

.agToursSec1DynamicHead {
    font-family: 'Arizonia', cursive;
    font-size: 40px;
}

.agToursSec2Head {
    color: #41c356;
    margin: auto 0;
    font-size: 19px;
    font-weight: 500;
}

.agToursSec2Icon {
    padding-top: 2px;
    margin: auto 10px;
    color: #41c356;
    font-size: 19px;
}

.agToursSec2Text {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    padding-top: 3px;
    color: #00000087;
}

.agToursSec1SearchButton {
    padding: 14px;
    margin: 15px 0px;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
}

.agUsersec1 {
    background: #ecf9ee;
    border-radius: 20px;
    padding: 20px;
}

/*////////////////////*/
/* news page*/
/*////////////////////*/

.newsDescription {
    font-size: 16px;
}

.newsDate {
    font-size: 16px;
    color: #9f9d9d;
}

.newstitle {
    font-size: 26px;
    color: black;
    font-family: sans-serif;
}

.newsLikeIcon {
    padding: 2px 18px;
    border: none;
    border-radius: 7px;
    background-color: #41c356;
    color: white;
    font-size: 16px;
}

.newsLikeIcon:hover{
    cursor: pointer;
}

.newsLikeCount {
    margin: 1px 14px;
    font-size: 18px;
    font-weight: 500;
}

/*////////////////////*/
/* agency news page*/
/*////////////////////*/

.agNewsSec2 {
    background: #ecf9ee;
    border-radius: 20px;
    padding: 30px;
}

@media (max-width : 850px) {
    .newsDeleteButton {
        display: none;
    }
}

