.body {
    margin: 0;
    padding: 0;
}

/* Remove arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* section Container */
.SectionContainer {
    max-width: 1349px;
    margin: auto;
}

/* sidebar */
.sideBar {
    visibility: hidden;
    width: 240px;
    height: 100%;
    background-color: #41c356;
    position: absolute;
    z-index: 100;
}

.sideBarCloseIcon {
    font-size: 32px;
    color: #a8eb9c;
}

.sideBarCloseIcon:hover {
    cursor: pointer;
    color: white;
}

.sideBarDropDown {
    width: 100%;
    background: transparent;
    border: none;
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.sideBarDropDownTextBar {
    background: transparent;
    border: 0px;
    width: 100%;
}

.sideBarToggleBar {
    visibility: visible;
    font-size: 32px;
    position: absolute;
}

/* map */
.mapboxgl-popup {
    width: 180px;
}

.mapboxgl-popup-content {
    text-align: center;
    color: #41C356;
}

.marker {
    background-image: url('./../images/location.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* frontend validation error */
.errBar {
    visibility: hidden;
}

/* a tag */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* preloader */
#preloader {
    background: black url(../images/gif-logo.gif) no-repeat center;
    background-size: 8%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: opacity 0.3s linear;
}

/*////////////////////*/
/* HOME PAGE */
/*////////////////////*/

/* infoBar */
.infoBar {
    background: #54d354;
    width: 100%;
    height: 60px;
}

.infoText-1 {
    text-decoration: none;
    color: white;
}

.infoText-1:hover {
    color: black;
    font-weight: 500;
}

.infoText-2 {
    color: white;
    padding-top: 4px;
}

@media (max-width: 1000px) {
    .infoLeft {
        display: none;
    }
}

/* header */
.header {
    background-color: #ecf9ee;
    width: 100%;
}

.headerText:hover {
    cursor: pointer;
    color: #41c356;
}

.headerlove {
    position: relative;
    font-size: 25px;
    color: red;
}

.headerCount {
    position: absolute;
    top: 4;
    font-size: 14px;
    color: white;
    right: -10px;
    font-weight: 700;
    background-color: black;
    border-radius: 20px;
    padding: 0 4px;
}

.headerCart {
    position: relative;
    font-size: 25px;
    color: #41c356;
}

/* section-1 */
.section-1 {
    width: 100%;
    background-color: #ecf9ee;
}

.leftBar {
    padding-top: 150px;
    z-index: 2;
}

@media (max-width: 780px) {
    .leftBar {
        padding: 0;
    }
}

.sec1LeftText1 {
    font-family: 'Arizonia', cursive;
    font-size: 30px;
}

.sec1LeftText2 {
    font-size: 46px;
}

.sec1LeftText3 {
    font-size: 18px;
}

.rightBar {
    z-index: 1;
}

.button {
    width: 120px;
    line-height: 40px;
    background: #41c356;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.button:hover {
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    background: transparent;
    color: #41c356;
    border-radius: 4px;
}

/* section-2 */

.section-2 {
    width: 100%;
    background-color: #ecf9ee;
}

/* section-3 */

.section-3 {
    background-color: #ecf9ee;
    padding: 20px 0;
    width: 100%;
}

.sec3Cards {
    padding: 75px 0px;
    width: 350px;
}

.sec3Card {
    position: relative;
}

.sec3Text1 {
    font-size: 13px;
    font-weight: 500;
    background: #0d6efd;
    position: absolute;
    top: 27px;
    left: 30px;
    color: white;
    border: 0;
    padding: 6px;
}

.sec3Text2 {
    font-size: 13px;
    color: #00000082;
    font-weight: 500;
    /* margin-top: 6px; */
}

.sec3Text3 {
    color: #000000;
    font-size: 22px;
    margin-top: 20px;
}

.sec3Text4 {
    font-size: 14px;
    color: #00000080;
    margin-top: 20px;
}

.sec3Text5 {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
}

.sec3Text5:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #41c356;
}

/* section-4 */

.section-4 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}

.sec4Text1 {
    font-family: 'Arizonia', cursive;
    font-size: 30px;
}

/* .section-4 */

.section-5 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}


.sec5Button {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}

.sec5Button:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: white;
    color: #41c356;
}

/* section-6 */

.section-6 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 65px 0px;
}

.sec6LoveLike {
    font-size: 25px;
    color: #ffb8b8;
    position: absolute;
    top: 14px;
    right: 14px;
    background: white;
    padding: 6px;
    border-radius: 18px;
}

.sec6LoveLike:hover {
    color: red;
}

.sec6LoveUnlike {
    font-size: 25px;
    color: red;
    position: absolute;
    top: 14px;
    right: 14px;
    background: white;
    padding: 6px;
    border-radius: 18px;
}

.sec6LoveUnlike:hover {
    color: #ffb8b8;
}


.sec6Text1 {
    font-size: 20px;
}

.sec6Text1:hover {
    color: #41c356;
}

.sec6Text2 {
    color: #1dc5ce;
    font-size: 18px;
    font-weight: 500;
}

.sec6Text2:hover {
    color: #41c356;
    font-weight: 700;
}

.sec6Card {
    position: relative;
}

.sec6Button {
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 6px 20px;
    color: white;
    border-radius: 6px;
    border: none;
}

.sec6Button:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #41c356;
}

.sec6More {
    text-decoration: none;
    font-size: 24px;
    background: #0d6efd;
    padding: 6px 27px;
    color: white;
    border-radius: 16px;
    border: solid;
    border-width: 1px;
    margin-top: 80px;
}

.sec6More:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: #00000075;
    color: #0d6efd;
}

/* footer */

.footer {
    width: 100%;
    background-color: #ecf9ee;
    padding: 50px 0px;
}

.footerIcons1 {
    font-size: 35px;
    padding-right: 20px;
    color: #0d6efd;
}

.footerIcons2 {
    font-size: 35px;
    padding-right: 20px;
    color: #2dc9ed;
}

.footerIcons3 {
    font-size: 35px;
    padding-right: 20px;
    color: #e95950;
}

.footerIcons4 {
    font-size: 35px;
    padding-right: 20px;
    color: red;
}

.footerHead {
    font-size: 15px;
    border-bottom: solid;
    padding-bottom: 25px;
    border-bottom-color: #41c356;
}

.footerText {
    font-size: 15px;
    font-weight: 100;
    list-style-type: none;
    margin-top: 15px;
}

.footerText:hover {
    cursor: pointer;
    color: #41c356;
    font-weight: 500;
}

.footerText2 {
    font-size: 16px;
    font-weight: 100;
    list-style-type: none;
    margin-top: 15px;
}

/* copyright */

.copyRight {
    width: 100%;
    background-color: #41c356;
}

.copyRightText {
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 50px;
    margin: 0;
}

/*////////////////////*/
/* SIGN UP PAGE  & login page*/
/*////////////////////*/

.signupSec1 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
}

.signupSec1Text {
    font-family: 'Arizonia', cursive;
    font-size: 55px;
    color: #41c356;
}

.signupSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-9.jpg);
    background-size: 100% auto;
}

.loginSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-4.jpg);
    background-size: 100% auto;
}

.adloginSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
    background: url(../images/Backgrond/image-6.jpg);
    background-size: 100% 640px;
}

.signupSec2Form {
    background: #ecf9ee;
    padding: 26px;
    border-radius: 25px;
}

.signupSec2FormButton {
    border: solid;
    text-decoration: none;
    font-size: 20px;
    background: #41c356;
    padding: 7px 25px;
    color: white;
    border-radius: 30px;
    border-width: 2px;
    border-color: #41c356;
}

.signupSec2FormButton:hover {
    cursor: pointer;
    background: transparent;
    border: solid;
    border-width: 2px;
    border-color: #00000075;
    color: #41c356;
}

.signupSec2Head {
    font-family: 'Arizonia', cursive;
    font-size: 38px;
    color: #000000;
    margin: 0;
    padding-top: 10px;
}

.signupSec2FormBar {
    width: 50%;
}

.signupSec2Error {
    width: 100%;
    height: 42px;
    margin: 4px 0;
}

.signupSec2ErrorBar {
    background-color: #41c35654;
    width: 100%;
    height: 42px;
    margin: 4px 0;
}

.signupSec2ErrorText {
    padding: 8px;
    font-weight: 400;
    color: #41C356;
}

.signupSec2ErrorMark {
    padding-top: 12px;
    color: #41C356;
}

.signupSec2ErrorMark:hover {
    cursor: pointer;
}

/*////////////////////*/
/* User Profile page*/
/*////////////////////*/

.profileSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 12px 0px;
}

.profileSec2Bar {
    background-color: #ecf9ee;
    border-radius: 40px;
}

.profileSec2LeftLogo {
    font-size: 60px;
}

.profileSec2BarTextHead {
    font-family: 'Arizonia', cursive;
    font-size: 42px;
    font-weight: bold;
    color: #000000a3;
}

.profileSec2BarText {
    font-size: 20px;
    font-weight: 300;
}

.profileSec2LeftButton {
    border: none;
    color: black;
    font-size: 18px;
    padding: 10px 7px;
    background: transparent;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 600px) {
    .profileSec2LeftButton {
        font-size: 13px;
    }
}

.profileSec2LeftButton:hover {
    cursor: pointer;
    color: #41C356;
}

.profileSec2RightBar {
    border-left: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

.profileSec2Image {
    background: #000000;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}


.profileSec2Icon {
    border: none;
    position: absolute;
    left: 110px;
    color: black;
    top: 114px;
    font-size: 18px;
    background: white;
    padding: 3px 8px;
    border-radius: 110px;
}

.profileSec2Name {
    padding-top: 118px;
}

@media (max-width:768px) {
    .profileSec2Name {
        padding-top: 38px;
    }
}

.profileSec2ImageBar {
    position: relative;
}

.profileSec2Texts {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileSec2EditButton {
    border: none;
    color: white;
    font-size: 13px;
    padding: 5px 19px;
    background: #41C356;
    font-weight: 500;
    text-decoration: none;
}

.profileSec2EditButton:hover {
    cursor: pointer;
    color: #000000;
    background-color: transparent;
}

.profileSec2ShoppingsText {
    font-size: 17px;
    font-weight: 600;
    padding: 10px 9px;
}

.profileSec2ShoppingsButton {
    border: none;
    text-decoration: none;
    color: white;
    background: #41C356;
    padding: 3px 8px;
}

.profileSec2ShoppingsButton:hover {
    cursor: pointer;
    color: white;
}

.profilShoppingList {
    background-color: #ecf9ee;
}

.profilShoppingList:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.profileSec2ShoppingsStatusBar {
    width: 100%;
    border-left: solid;
    border-width: 2px;
    position: relative;
}

.profileSec2ShoppingsStatusDot {
    position: absolute;
    bottom: -1px;
    left: -7px;
    font-size: 12px;
}

.profileSec2ShoppingsEmail {
    font-size: 17px;
    font-weight: 600;
    padding: 10px 9px;
    display: inline-block;
    width: 76%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileaddressBar{
    border: solid;
    border-width: 1px;
    padding: 18px;
    border-color: #999999;
}

.profileAddress{
    color: black;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileAddressIcon{
    font-size: 19px;
}

.profileAddressIcon:hover{
    cursor: pointer;
}

/*////////////////////*/
/* tours page*/
/*////////////////////*/

.toursSec2Head {
    font-family: 'Arizonia', cursive;
}

.toursSec2 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.toursSec3 {
    width: 100%;
    background: url(../images/Backgrond/image-6.jpg);
    background-size: 100% 100%;
    padding: 100px 0px;
}

.toursSec3Text1 {
    font-family: 'Arizonia', cursive;
    color: white;
}

.toursSec3Text2 {
    color: white;
    font-size: 50px;
}

.toursSec4 {
    padding: 60px;
    background-color: #c3ddc7;
    width: 100%;
}

.toursSec4Map {
    width: 100%;
    height: 350px;
    background: #000000;
}

.toursDetailsSec2Image {
    position: relative;
    filter: brightness(0.5);
}

.toursDetailsSec2Text {
    position: absolute;
    top: 6px;
    left: 40px;
}

@media (min-width : 992px) {
    .toursDetailsSec2Image {
        height: 500px;
    }
}

.toursDetailsSec2Text1 {
    font-size: 27px;
    color: white;
}

.toursDetailsSec2Text2 {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.toursDetailsSec3 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.toursDetailsSec3ReviewText {
    font-size: 18px;
    font-weight: 500;
    color: #00000094;
}

.toursDetailsSec3Review {
    border: solid;
    border-left: none;
    border-right: none;
    border-color: #747474;
    border-width: 1px;
}

.toursDetailsSec3Head {
    font-family: 'Arizonia', cursive;
    font-size: 38px;
    font-weight: 600;
    color: #746f6f;
}

.toursDetailsSec3Text {
    font-size: 20px;
}

.toursDetailsSec3Icon {
    font-size: 22px;
    padding-right: 8px;
    color: #41c356;
}

.toursDetailsSec3Paragraph {
    border-left: solid;
    padding-left: 30px;
    border-width: 2px;
    color: #6c6b6b;
}

.toursDetailsSec4Head {
    font-family: 'Arizonia', cursive;
    font-size: 50px;
}

.toursDetailsSec5 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 40px 0px;
}

.toursDetailsSec5Head {
    font-family: 'Arizonia', cursive;
    font-size: 45px;
}

.toursDetailsSec3Price {
    font-size: 22px;
    font-weight: 500;
    color: black;
    margin: auto 0;
}

.toursDetailsSec3BookButton {
    color: white;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border: none;
}

.toursDetailsSec3BookBar {
    border: solid;
    border-width: 1px;
    border-color: #41C356;
    color: #41c356;
    background-color: #41C356;
    margin: 15px;
    padding: 12px;
    border-radius: 25px;
}

.toursDetailsSec3BookBar:hover {
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: black;
    color: #000000;
}

.toursDetailsSec3BookIcon {
    color: white;
    margin: auto;
    font-size: 32px;
}

.tourCouponButton {
    background-color: #41C356;
    border: none;
    color: white;
    padding: 6px 18px;
    margin-top: 32px;
}

/*////////////////////*/
/* Admin tours page */
/*////////////////////*/

.agToursSec1 {
    width: 100%;
    background-color: #ecf9ee;
    padding: 20px 0px;
}

.agToursSec1LeftButton {
    border: solid;
    border-radius: 30px;
    border-width: 1px;
    background: #41c356;
    border-color: #ecf9ee;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}

.agToursSec1LeftButton:hover {
    background: transparent;
    cursor: pointer;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: #000000;
}

.agToursSec1LeftButtonIcon {
    margin: 20px 15px;
    color: white;
    font-size: 20px;
}

@media (max-width : 995px) {
    .agToursSec1LeftButtonText {
        display: none;
    }
}

.agToursSec1RightBar {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.agToursSec1RightHead {
    font-family: 'Arizonia', cursive;
}

.agToursSec1DynamicHead {
    font-family: 'Arizonia', cursive;
    font-size: 40px;
}

.agToursSec2Head {
    color: #41c356;
    margin: auto 0;
    font-size: 19px;
    font-weight: 500;
}

.agToursSec2Icon {
    padding-top: 2px;
    margin: auto 10px;
    color: #41c356;
    font-size: 19px;
}

.agToursSec2Text {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    padding-top: 3px;
    color: #00000087;
}

.agToursSec1SearchButton {
    padding: 14px;
    margin: 15px 0px;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
}

.agUsersec1 {
    background: #ecf9ee;
    border-radius: 20px;
    padding: 20px;
}

/*////////////////////*/
/* news page*/
/*////////////////////*/

.newsDescription {
    font-size: 16px;
}

.newsDate {
    font-size: 16px;
    color: #9f9d9d;
}

.newstitle {
    font-size: 26px;
    color: black;
    font-family: sans-serif;
}

.newsLikeIcon {
    padding: 0px 12px;
    border: none;
    border-radius: 7px;
    background-color: #41c356;
    color: white;
    font-size: 16px;
}

.newsLikeIcon:hover {
    cursor: pointer;
}

.newsLikeCount {
    margin: 0px 18px;
    font-size: 14px;
    font-weight: 500;
}

/*////////////////////*/
/* agency news page*/
/*////////////////////*/

.agNewsSec2 {
    background: #ecf9ee;
    border-radius: 20px;
    padding: 30px;
}

@media (max-width : 850px) {
    .newsDeleteButton {
        display: none;
    }
}

/*////////////////////*/
/* Shopping page*/
/*////////////////////*/

.shopSec2Price {
    font-size: 15px;
    font-weight: 500;
    background: #0d6efd;
    position: absolute;
    top: 0;
    left: 18px;
    color: white;
    border: 0;
    padding: 6px;
}

.ShoppingButton {
    margin: auto;
    padding: 0px 6px;
    color: white;
    font-size: 20px;
}

.ShoppingButton:hover {
    cursor: pointer;
    color: white;
}

.shoppingButtonBar {
    background-color: #41c356;
    color: white;
    padding: 15px 18px;
}

.shoppingButtonBar:hover {
    cursor: pointer;
    color: white;
}

.shoppingText1 {
    font-size: 32px;
    font-weight: 400;
}

.shoppingText2 {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
    color: #858585;
}

.shoppingText3 {
    margin-top: 20px;
    font-size: 32px;
}

.shoppingsHighlightsIcons {
    font-size: 24px;
    padding-right: 6px;
}

.shoppingDetailsImage:hover {
    cursor: pointer;
}

#lightBox {
    height: auto;
    position: fixed;
    z-index: 99;
    top: 60px;
    align-items: center;
    visibility: hidden;
}

#lightBox show {
    visibility: visible;
    opacity: 1;
}

.zoomCloseIcon {
    display: block;
    color: black;
    font-size: 30px;
    padding: 10px;
}

.zoomCloseIcon:hover {
    cursor: pointer;
}

.ShoppingmainImages {
    height: 330px;
    width: 100%;
}

@media (max-width : 1200px) {
    .ShoppingmainImages {
        height: 330px;
        width: 100%;
    }
}

.shoppingDiscountText {
    font-size: 21px;
    font-weight: 700;
    color: #e57878;
}

.shoppingCategoryHead {
    color: black;
    font-size: 45px;
    padding: 12px 0px;
    font-family: 'Arizonia';
}

@media (max-width : 576px) {
    .centerSec2 {
        display: flex;
        justify-content: center;
    }
}

/*////////////////////*/
/* Cart page*/
/*////////////////////*/

.cartTableText {
    font-size: 22px;
    font-weight: 500;
    padding: 32px 0;
    margin: 0px;
}

.cartTableIncButtons {
    background: white;
    padding: 22px;
    border-radius: 14px;
}

.cartTableIncButtons:hover {
    cursor: pointer;
    background-color: #41c356;
}

.cartTableIncInput {
    padding: 18px 0;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 9px;
    border: none;
    width: 55px;
    height: 58px;
}

.cartTableButtonBar {
    padding: 28px 0px;
}

.cartTableCloseButton {
    font-size: 32px;
    color: #ff5454;
}

.cartTableCloseButton:hover {
    cursor: pointer;
    color: red;
}

.cartTableClose {
    line-height: 116px;
}

.cartTableClose:hover {
    cursor: pointer;
}

.cartPaymentBar {
    background-color: white;
    border-radius: 26px;
    width: 100%;
    padding: 35px;
}

.cartPaymentText {
    font-size: 24px;
    color: #7a7979;
    font-weight: 600;
}

.cartPaymentPrice {
    font-size: 24px;
    font-weight: 500;
}

.cartPaymentTotalBar {
    margin-top: 68px;
    border-top: solid;
    border-width: 2px;
    padding-top: 15px;
    border-bottom: double;
}

.cartPaymentDiscount {
    font-size: 24px;
    font-weight: 400;
    color: #9d9d9d;
}

/*////////////////////*/
/* wishlist page*/
/*////////////////////*/


.wishlistText {
    line-height: 36px;
    font-size: 18px;
    font-weight: 600;
}

/*////////////////////*/
/* Booking Page  */
/*////////////////////*/

.bookingText {
    font-size: 20px;
    font-weight: normal;
}

.bookingStatusButton {
    background: none;
    border: none;
    border-radius: 20px;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/*////////////////////*/
/* Order Page  */
/*////////////////////*/

.orderAddressHead {
    font-family: 'Arizonia';
    font-size: 40px;
}

.orderAddress {
    color: #8b8b8b;
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderAddressAdd {
    background-color: #41c356;
    border: 0;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 500;
}

.orderAddressProductPage {
    border: solid;
    border-width: 1px;
    border-color: #858585;
    border-radius: 14px;
    padding: 20px;
}

.orderAddressProductHead {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
}

.orderAddressProductText {
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.orderAddressProductPRice {
    font-size: 24px;
    font-weight: 500;
    color: #858585;
}

.orderCheckoutBar {
    border: solid;
    border-width: 1px;
    padding: 15px;
    color: #858585;
}

.orderCartText {
    padding: 28px 0;
    margin: 0;
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*////////////////////*/
/* agency Dashboard */
/*////////////////////*/

.agnecyDashBoardWalletBar {
    width: 100%;
    padding: 35px;
    background-color: white;
    border-radius: 15px;
}

.agnecyDashBoardWalletText1 {
    color: #4e4e4e;
    font-size: 30px;
    font-weight: 800;
    padding: 22px 0px;
    margin: 0;
}

.agnecyDashBoardWalletText2 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #444444;
    margin: 0;
    padding: 30px 0px;
}

.agnecyDashBoardWalletIcon {
    color: #41c356;
    font-size: 36px;
    text-align: center;
    padding: 24px;
}

.agnecyDashBoardCardsBar {
    width: 100%;
    padding: 28px;
    background-color: white;
    border-radius: 15px;
}

.agnecyDashBoardCardsBar:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.agnecyDashBoardCardsCount {
    color: #4e4e4e;
    font-weight: 800;
}

.agnecyDashBoardCardsText1 {
    margin: 0px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.agnecyDashBoardCardsText2 {
    margin: 0px;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 400;
}

.agnecyDashBoardCardsIcons {
    font-size: 27px;
    padding: 10px;
    border-radius: 15px;
}

.agnecyDashBoardLatestBar {
    width: 100%;
    padding: 14px;
    background-color: white;
    border-radius: 15px;
}

.agnecyDashBoardLatestHead {
    font-family: 'Arizonia';
    font-size: 26px;
}

.agnecyDashBoardLatestText1 {
    margin: 0;
    font-size: 14px;
}

.agnecyDashBoardLatestImage {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 35px;
}

.agnecyDashBoardLatestText2 {
    margin: 0;
    padding: 3px 11px;
    width: 125px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.agnecyDashBoardLatestListBar {
    border-top: solid;
    border-width: 1px;
    border-color: #a7a7a7;
    padding-top: 6px;
    margin-top: 16px;
}

.agnecyDashBoardLatestListButton {
    background: #41c356;
    color: white;
    padding: 6px 16px;
    font-size: 15px;
    border-radius: 25px;
}

.agnecyDashBoardLatestListButton:hover {
    cursor: pointer;
    color: white;
}

/*////////////////////*/
/* Contact Page */
/*////////////////////*/

.contactText1 {
    padding: 26px 0;
    margin: 0;
    font-size: 18px;
}

