<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

<!-- infoBar -->
<%- include('../includes/infoHeader.ejs') %>

<!-- header -->
<%- include('../includes/head.ejs') %>

<!-- section-1 -->
<section class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 leftBar">
                <h3 class="sec1LeftText1">Never Stop</h3>
                <h2 class="sec1LeftText2">Exploring</h2>
                <p class="sec1LeftText3">No matter your age. No matter your experience. No matter your
                    education. It’s imperative that you never stop exploring. The world has countless bounties
                    to offer up.</p>
                <a href="#"><button class="button">MORE</button></a>
            </div>
            <div class="col-md-6 d-flex justify-content-end rightBar">
                <img style="width: 570px ; height: 550px;" src="./images/banner-images/banner-image-1.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- section-2 -->
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">3
                <img style="width: 440px ; height: 550px;" src="./images/banner-images/banner-image-2.png" alt="">
            </div>
            <div class="col-md-6 leftBar">
                <h3 class="sec1LeftText1">About Hodophile</h3>
                <h2 class="sec1LeftText2">Best Agency</h2>
                <p class="sec1LeftText3">Hodophile is India’s leading online travel booking brand . We
                    providing trekking , tour package , Some travel equpments shoping etc... Our core value
                    differentiator is the most trusted user experience .</p>
                <a href="#"><button class="button">MORE</button></a>
            </div>
        </div>
    </div>
</section>
<!-- section-3 -->
<section class="section-3">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5">
                <h3 class="sec4Text1 text-center">Modern & Beautiful</h3>
                <h1 class="text-center fw-bold">Our Most Poppular<br>Trekking</h1>
            </div>
            <!-- cards -->
            <div class="col-md-4 sec3Cards">
                <div class="card p-3 sec3Card" style="background-color: #ECF9EE;">
                    <img style=" width: 100%; " src="./images/Resources/f-image-2.jpg" class="card-img-top rounded"
                        alt="...">
                    <div class="card-body">
                        <p class="sec3Text1 rounded-2">$210</p>
                        <p class="sec3Text2">5 Reviews</p>
                        <h5 class="card-title sec3Text3">Moscow Red City Land</h5>
                        <p class="card-text sec3Text4 pb-3">Richly varied landscapes, luxurious accommodation
                            and a wide range of wild experiences await you. </p>
                        <a href="#" class="sec3Text5">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sec3Cards">
                <div class="card p-3 sec3Card" style="background-color: #ECF9EE;">
                    <img style=" width: 100%;" src="./images/Resources/f-image-1.jpg" class="card-img-top rounded"
                        alt="...">
                    <div class="card-body">
                        <p class="sec3Text1 rounded-2">$210</p>
                        <p class="sec3Text2">5 Reviews</p>
                        <h5 class="card-title sec3Text3">Moscow Red City Land</h5>
                        <p class="card-text sec3Text4 pb-3">Richly varied landscapes, luxurious accommodation
                            and a wide range of wild experiences await you. </p>
                        <a href="#" class="sec3Text5">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sec3Cards">
                <div class="card p-3 sec3Card" style="background-color: #ECF9EE;">
                    <img style=" width: 100%;" src="./images/Resources/f-image-3.jpg" class="card-img-top rounded"
                        alt="...">
                    <div class="card-body">
                        <p class="sec3Text1 rounded-2">$210</p>
                        <p class="sec3Text2">5 Reviews</p>
                        <h5 class="card-title sec3Text3">Moscow Red City Land</h5>
                        <p class="card-text sec3Text4 pb-3">Richly varied landscapes, luxurious accommodation
                            and a wide range of wild experiences await you. </p>
                        <a href="#" class="sec3Text5">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section-4 -->
<section class="section-4">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5">
                <h3 class="sec4Text1 text-center">We Are Awsome</h3>
                <h1 class="text-center fw-bold">Why Choose Hodophile</h1>
            </div>
            <div class="col-sm-3">
                <div>
                    <img src="./images/Resources/icon-1.png" alt="">
                    <h3>Diverse Destinations</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
                <div>
                    <img class="mt-4" src="./images/Resources/icon-2.png" alt="">
                    <h3>Value for Money</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
                <div>
                    <img class="mt-4" src="./images/Resources/icon-3.png" alt="">
                    <h3>Beautiful Places</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
                <img src="./images/Resources/why-image-1.png" alt="">
            </div>
            <div class="col-sm-3">
                <div>
                    <img src="./images/Resources/icon-4.png" alt="">
                    <h3>Fast Booking</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
                <div>
                    <img class="mt-4" src="./images/Resources/icon-5.png" alt="">
                    <h3>Support Team</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
                <div>
                    <img class="mt-4" src="./images/Resources/icon-6.png" alt="">
                    <h3>Passionate Travel</h3>
                    <p>Richly varied landscapes, luxury accommodation Travel.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section-5 -->
<section class="section-5">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5">
                <h3 class="sec4Text1 text-center">We Provide</h3>
                <h1 class="text-center fw-bold">Top Destinations</h1>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-7.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-8.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-9.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-10.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-11.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center sec5Cards">
                <img class="rounded-4" style="width: 400px; height: 310px;" src="./images/Resources/gallery-12.jpg"
                    alt="">
                <a href="#" class="sec5Button">Details</a>
            </div>
        </div>
    </div>
</section>
<!-- section-6 -->
<section class="section-6">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5">
                <h3 class="sec4Text1 text-center">Shop Now</h3>
                <h1 class="text-center fw-bold">Featured Trekking Products</h1>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card p-2 sec6Card mt-3">
                    <img src="./images/shopping/prod-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <i class="sec6Love fa-solid fa-heart"></i>
                        <h5 class="sec6Text1 card-title">Smart Air Bag Travel</h5>
                        <p class="sec6Text2">$225</p>
                        <a href="#" class="sec6Button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a href="#" class="sec6More">More</a>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<%- include('../includes/end.ejs') %>