<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

        <!-- section-1 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="signupSec1Text d-flex justify-content-center">Login</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <section class="loginSec2">
            <div class="container">
                <div class="row d-flex justify-content-center pt-5 pb-5">
                    <div class="col-sm-10 col-lg-6 ">
                        <form id="form" method="post" action="/login" class="signupSec2Form">
                            <h3 class="signupSec2Head">Login</h3>
                            <% if (userErr.length>0){%>
                                <span id="Err"></span>
                                <div class="signupSec2ErrorBar d-flex justify-content-center">
                                    <p id="ErrText" class="text-center signupSec2ErrorText">
                                        <%= userErr %>
                                    </p>
                                    <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                </div>
                                <%}else{%>
                                    <div id="Err" class="errBar">
                                        <div class="signupSec2ErrorBar d-flex justify-content-center">
                                            <p id="ErrText" class="text-center signupSec2ErrorText"></p>
                                            <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                        </div>
                                    </div>
                                    <%} %>
                                        <div class="mb-3 mt-2">
                                            <label class="form-label signupSec2Text">Email</label>
                                            <input id="email" name="email" type="email" class="form-control"
                                                placeholder=" Enter email Address" value="salmanulnadakkal2@gmail.com">
                                        </div>
                                        <div class=" mb-3 mt-2">
                                            <label class="form-label signupSec2Text">Password</label>
                                            <input id="password" name="password" type="password" class="form-control"
                                                placeholder="Enter your Password" value="123456">
                                        </div>
                                        <div class="d-flex">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <a style="text-decoration: none;" href="/signup">
                                                    <small class="text-primary ">Create a account?</small>
                                                </a>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar d-flex justify-content-end">
                                                <a style="text-decoration: none;" href="/reset">
                                                    <small class="text-primary ">Forgot Your Password !</small>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mt-3 d-flex justify-content-center">

                                        </div>
                                        <div class="d-flex justify-content-center p-4">
                                            <button type="submit" class="signupSec2FormButton">Submit</button>
                                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- frontEnd validation -->
        <script src="/js/userLoginValidation.js"></script>

        <!-- footer -->
        <%- include('../includes/end.ejs') %>