<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

        <!-- section-1 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="signupSec1Text d-flex justify-content-center">Reset Password</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <section class="loginSec2">
            <div class="container">
                <div class="row d-flex justify-content-center pt-5 pb-5">
                    <div class="col-sm-10 col-lg-6 ">
                        <form class="signupSec2Form">
                            <div class="signupSec2Error">
                                <div class="signupSec2ErrorBar d-flex justify-content-center">
                                    <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                    <p class="text-center signupSec2ErrorText">Reset Your Password</p>
                                </div>
                            </div>
                            <div class="pt-5 pb-5">
                                <small>Lost your password? Please enter your username or email address. You will receive a
                                    link to create a new password via email.</small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label signupSec2Text">Email</label>
                                <input type="email" class="form-control" placeholder=" Enter email Address"">
                            </div>
                            <div class=" mt-3 d-flex justify-content-center">
                                <a style="text-decoration: none;" href="">
                                    <p class="text-primary ">Create a account?</p>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center p-4">
                                <button type="submit" class="signupSec2FormButton">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <%- include('../includes/end.ejs') %>