<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/agHead.ejs') %>

        <section class="agToursSec1 ">
            <div class="container mb-4">
                <div class="row">

                    <!-- section 1 -->
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="col-12 col-md-10 col-lg-10 mt-5">
                            <div class="col-12">
                                <div class="agnecyDashBoardWalletBar">
                                    <div class="row">
                                        <div class="col-4">
                                            <h2 class="agnecyDashBoardWalletText1">$10,000</h2>
                                        </div>
                                        <div class="col-5">
                                            <p class="agnecyDashBoardWalletText2">Revenue last Year</p>
                                        </div>
                                        <div class="col-3">
                                            <i class="ms-3 agnecyDashBoardWalletIcon fa-solid fa-wallet"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 col-12">
                                <div class="row">
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">Tours</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i class="ms-1 agnecyDashBoardCardsIcons fa-solid fa-box-open "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">Treakings</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i
                                                        class="ms-1 agnecyDashBoardCardsIcons fa-solid fa-person-hiking"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">News</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i
                                                        class="ms-1 agnecyDashBoardCardsIcons fa-regular fa-newspaper"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">Products</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i class="ms-1 agnecyDashBoardCardsIcons fa-solid fa-store"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">Clients</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i class="ms-1 agnecyDashBoardCardsIcons fa-solid fa-users"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-6 mt-3">
                                        <div class="agnecyDashBoardCardsBar">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h3 class="agnecyDashBoardCardsCount">10</h3>
                                                    <p class="agnecyDashBoardCardsText1">Revenue</p>
                                                    <p class="agnecyDashBoardCardsText2"><i>last Month</i></p>
                                                </div>
                                                <div style="padding: 29px 0px;" class="col-4 m-0">
                                                    <i class="ms-1 agnecyDashBoardCardsIcons fa-solid fa-coins"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- section 2 -->

                        <div class=" col-12 col-md-10 col-lg-12 mt-5">
                            <canvas id="myChart"></canvas>

                        </div>
                    </div>


                    <!-- section 3 -->

                    <div class="col-8 col-md-6 col-lg-4 mt-5">
                        <div class="col-md-12  mb-4">
                            <div class="agnecyDashBoardLatestBar">
                                <div class="col-12">
                                    <p class="agnecyDashBoardLatestHead">Latest Bookings</p>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="mt-3 col-12 d-flex justify-content-center">
                                    <a class="agnecyDashBoardLatestListButton" href="">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="agnecyDashBoardLatestBar">
                                <div class="col-12">
                                    <p class="agnecyDashBoardLatestHead">Latest Orders</p>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="col-12 agnecyDashBoardLatestListBar">
                                    <div class="col-12">
                                        <p class="agnecyDashBoardLatestText1">Name of Treaking Or tours That Booked
                                        </p>
                                    </div>
                                    <div class="mt-3 col-12 d-flex">
                                        <div class="agnecyDashBoardLatestImage"></div>
                                        <p class="agnecyDashBoardLatestText2">Salmanul Fariz</p>
                                    </div>
                                </div>
                                <div class="mt-3 col-12 d-flex justify-content-center">
                                    <a class="agnecyDashBoardLatestListButton" href="">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- dashboard chart -->
        <script src="/js/dashboardChart.js"></script>


        <!-- footer -->
        <%- include('../includes/agEnd.ejs') %>