<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/agHead.ejs') %>
    <h1>admin home</h1>
        <!-- footer -->
        <%- include('../includes/agEnd.ejs') %>