<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- section-1 -->
    <section class="signupSec1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="signupSec1Text d-flex justify-content-center">Hodophile</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- section-2 -->
    <section class="adloginSec2">
        <div class="container">
            <div class="row d-flex justify-content-center pt-5 pb-5">
                <div class="col-sm-10 col-lg-6 ">
                    <form id="form" method="post" action="/agency/login" class="signupSec2Form">
                        <h3 class="signupSec2Head">Login</h3>
                        <% if (agencyErr.length>0){%>
                            <span id="Err"></span>
                            <div class="signupSec2ErrorBar d-flex justify-content-center">
                                <p id="ErrText" class="text-center signupSec2ErrorText">
                                    <%= agencyErr %>
                                </p>
                                <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                            </div>
                            <%}else{%>
                                <div id="Err" class="errBar">
                                    <div class="signupSec2ErrorBar d-flex justify-content-center">
                                        <p id="ErrText" class="text-center signupSec2ErrorText"></p>
                                        <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                    </div>
                                </div>
                                <%} %>
                                    <div class="mb-3 mt-2">
                                        <label class="form-label signupSec2Text">Email</label>
                                        <input id="email" name="email" type="email" class="form-control"
                                            placeholder=" Enter email Address" value="agency@gmail.com">
                                    </div>
                                    <div class=" mb-3 mt-2">
                                        <label class="form-label signupSec2Text">Password</label>
                                        <input id="password" name="password" type="password" class="form-control"
                                            placeholder="Enter your Password" value="1234">
                                    </div>
                                    <div class="d-flex justify-content-center p-4">
                                        <button type="submit" class="signupSec2FormButton">Submit</button>
                                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- frontEnd validation -->
    <script src="/js/agencyLoginValidation.js"></script>

    <!-- footer -->
    <%- include('../includes/agEnd.ejs') %>